li {
    list-style: none;
}

.artist-list-item {
    background-color: red;
}

.genre-list-item {
    background-color: blue;
}

.track-list-item {
    background-color: green;
}

.search-results-list-item {
    background-color: yellow;
}