<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="small-list-container" th:fragment="small-list(collection, headerText)">
      <h2 th:text="${headerText}"></h2>

      <th:block th:switch="${collection}">
        <div th:case="'artists'" >
          <ul>
            <li class="artist-list-item" th:each="artist : ${__${collection}__}">
              <div th:replace="fragments/artist-element :: artist-element(${artist})"></div>
            </li>
          </ul>
        </div>
        <div th:case="'tracks'" >
          <ul>
            <li class="track-list-item" th:each="track : ${__${collection}__}">
              <div th:replace="fragments/track-element :: track-element(${track})"></div>
            </li>
          </ul>
        </div>
        <div th:case="'genres'" >
          <ul>
            <li class="genre-list-item" th:each="genre : ${__${collection}__}">
              <div th:replace="fragments/genre-element :: genre-element(${genre})"></div>
            </li>
          </ul>
        </div>
        <div th:case="*" >
            Couldent find collection!
        </div>
      </th:block>
  </div>
</body>
</html>