<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="small-list-container" th:fragment="small-list(collection, headerText)">
      <h2 th:text="${headerText}"></h2>

      <th:block th:switch="${collection}">
        <th:block th:case="'artists'" >
          <ul>
            <li th:each="artist : ${__${collection}__}">
              <div th:replace="fragments/artist-element :: artist-element(${artist})"></div>
            </li>
          </ul>
        </th:block>
        <th:block th:case="'tracks'" >
          <ul>
            <li th:each="track : ${__${collection}__}">
              <div th:replace="fragments/track-element :: track-element(${track})"></div>
            </li>
          </ul>
        </th:block>
        <th:block th:case="'genres'" >
          <ul>
            <li th:each="genre : ${__${collection}__}">
              <div th:replace="fragments/genre-element :: genre-element(${genre})"></div>
            </li>
          </ul>
        </th:block>
        <th:block th:case="*" >
            Couldent find collection!
        </th:block>
      </th:block>
  </div>
</body>
</html>