<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/search-box.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-content-center">
        <div class="layout-content">
            <div th:replace="fragments/search-box :: search-box"></div>
            <div th:replace="fragments/small-list :: small-list('artists', 'Artists')"></div>
            <div th:replace="fragments/small-list :: small-list('tracks', 'Tracks')"></div>
            <div th:replace="fragments/small-list :: small-list('genres', 'Genres')"></div>
        </div>
    </div>
</body>
</html>
