<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/search-box.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-content-center">
        <div class="layout-content">
            <div th:replace="fragments/search-box :: search-box"></div>
        </div>
    </div>
<!-- TODO: vvv REMOVE, TEMPORARY vvv -->
    <div>
        <h4>Artists</h4>
        <ul>
            <li th:each="artist: ${artists}" th:text="${artist.name}" />
        </ul>
        <h4>Genres</h4>
        <ul>
            <li th:each="genre: ${genres}" th:text="${genre.name}" />
        </ul>
        <h4>Tracks</h4>
        <ul>
            <li th:each="track: ${tracks}" th:text="${track.name}" />
        </ul>
    </div>
    <!-- ^^^ TODO: REMOVE, TEMPORARY ^^^ -->
</body>
</html>
