<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/search-box.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-content-center">
        <div class="layout-content">
            <div th:replace="fragments/search-box :: search-box"></div>
        </div>
    </div>
</body>
</html>
