<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Searched for </h1>
    <h1 th:text="${searchTerm}"></h1>
    <h1 th:text="${searchResults.size()} + ' results found'"></h1>
    <div th:each="searchResult: ${searchResults }">
        "<span th:text="${searchResult.trackName}"/>" -
        "<span th:text="${searchResult.albumName}"/>" -
        "<span th:text="${searchResult.artistName}"/>" -
        "<span th:text="${searchResult.genreName}"/>"
    </div>
</body>
</html>